.top-category{
    margin-top: 60px;
    padding: 0 16px;
}
.top-category .heading h2{
    color:  #000;
    font-family: Gotham;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.3;
}
.top-category .top-cate-card{
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
    gap: 25px;
    width: fit-content;
    margin-inline: auto;
}
.top-cate-card img{
    width: 100%;
    object-fit: cover;
}
.card-item{
    margin: 16px 0;
}
.card-item h3{
    color: #000;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.3;
}
.card-link{
    position: relative;
    overflow: hidden;
}
.card-item span.link-a{
    color: #FFF;
    text-decoration: underline;
    margin-top: 60px;
    transition: .3s all;
    position: absolute;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
}
.card-link:hover span.link-a{
    text-decoration: none;    
    top:50%;
    
    transform: translateY(-50%);
    margin-top: 0;
    opacity: 1;
}
@media  (min-width:767px) {
    .top-category{
        padding: 0 40px;
    }
    .top-cate-card img{
        width: 327px;
    }
    .top-category .top-cate-card{
        width: auto;
        margin-top: 48px;
    }
    
    
}