.top-category{
    margin-top: 60px;
    padding: 0 16px;
}
.top-category .heading h2{
    color:  #000;
    font-family: Gotham;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.3;
}
.top-category .top-cate-card{
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
    gap: 25px;
    width: fit-content;
    margin-inline: auto;
}
.top-cate-card img{
    width: 100%;
    object-fit: cover;
}
.card-item{
    margin: 16px 0;
}
.card-item h3{
    color: #000;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.3;
}
@media  (min-width:767px) {
    .top-category{
        padding: 0 40px;
    }
    .top-cate-card img{
        width: 327px;
    }
    .top-category .top-cate-card{
        width: auto;
        margin-top: 48px;
    }
    
    
}