.traditional-stroller{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   align-items: end;
   gap: 24px;
   padding: 16px;
}
.traditional-stroller h2{
    color: #121212;
    font-family: "Tenor Sans";
    font-size: clamp(32px, 5vw + 1rem, 44px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.traditional-stroller p{
    color:  #121212;
    font-family: Futura;
    font-size: clamp(18px , 5vw + 1rem, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
@media screen and (min-width:767px) {
    .traditional-stroller{
        gap: 120px;
        padding: 0 50px;
    }
    
}